@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Piu Piu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/WebShop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
    <!-- SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />
    <!-- Google Fonts -->
    



</head>
<body style="margin:0">
    <header>
        <ul class="list-group">
            <li class="list-group-item" style="padding:0;border:none;">
                <nav class="navbar navbar-expand-lg  " style="height:50px; background:#f8f8f8;" data-bs-theme="white">
                    <div class="container-fluid">
                        <a class="nav-link" style="font-size:12px;" asp-area="" asp-controller="Home" asp-action="Index">

                            Shop bánh kem, hoa tươi và các loại quà tặng sinh nhật
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse " id="navbarColor01">
                            <ul class="navbar-nav flex-row" style="margin-left: 47.8rem;">

                                <li class="nav-item">
                                    <ul class="navbar-nav me-auto">

                                        <li class="nav-item">

                                            <a class="nav-link active " asp-area="Customer" asp-controller="News" asp-action="Create">Đăng ký tư vấn </a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #000;">
                                                Chính sách
                                            </a>
                                            <ul class="dropdown-menu">

                                                <li><a class=" dropdown-item nav-link text-dark" asp-area="Customer" asp-controller="News" asp-action="Chinh_Sach_BaoMat">Chính sách bảo mật</a></li>
                                                <li><a class=" dropdown-item nav-link text-dark" asp-area="Customer" asp-controller="News" asp-action="Chinh_Sach_GiaoHang">Chính sách giao hàng</a></li>
                                                <li><a class=" dropdown-item nav-link text-dark" asp-area="Customer" asp-controller="News" asp-action="Chinh_Sach_XuLyKN">Chính sách xử lý khiếu nại</a></li>
                                                <li><a class=" dropdown-item nav-link text-dark" asp-area="Customer" asp-controller="News" asp-action="Chinh_Sach_DoiTra">Chính sách đổi trả</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #000;">
                                                HƯỡng dẫn
                                            </a>
                                            <ul class="dropdown-menu">

                                                <li><a class=" dropdown-item nav-link text-dark" asp-area="Customer" asp-controller="News" asp-action="Huong_dan_BaoQuan">Hướng dẫn bảo quản</a></li>
                                                <li><a class=" dropdown-item nav-link text-dark" asp-area="Customer" asp-controller="News" asp-action="Huong_dan_Muabanh">Hướng dẫn mua bánh</a></li>
                                                <li><a class=" dropdown-item nav-link text-dark" asp-area="Customer" asp-controller="News" asp-action="Huong_dan_ThanhToan">Hướng dẫn thanh toán</a></li>
                                                <li><a class=" dropdown-item nav-link text-dark" asp-area="Customer" asp-controller="News" asp-action="Huong_dan_KHDN">Khách hàng doanh nghiệp</a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                </li>



                            </ul>

                        </div>
                    </div>
                </nav>
            </li>
            <li class="list-group-item" style="padding:0;border:none;">
                <nav class="navbar navbar-expand-lg " style="height:70px; background:#FFADCD;" data-bs-theme="white">

                    <div class="container-fluid">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Piu Piu Cake</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse " id="navbarColor01">
                            <ul class="navbar-nav flex-row" style="margin-left: 30.8rem;">
                                <li class="nav-item">

                                    <a class="nav-link active " asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a>
                                </li>
                                <li class="nav-item">

                                    <a class="nav-link active " asp-area="Customer" asp-controller="News" asp-action="Gioi_thieu">Giới Thiệu </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  " asp-area="Customer" asp-controller="Cart" asp-action="Index" style="color: #000;">
                                        @await Component.InvokeAsync("ShoppingCart")
                                    </a>
                                </li>

                                <li class="nav-item">
                                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee) || User.IsInRole(SD.Role_Customer))
                                    {
                                        <div class="nav-item">
                                            <a class=" nav-link  " asp-area="Admin" asp-controller="Order" asp-action="Index" style="color: #000;">Đơn Hàng</a>
                                        </div>
                                    }
                                </li>

                                <li class="nav-item">
                                    @if (User.IsInRole(SD.Role_Admin))
                                    {
                                        <ul class="navbar-nav me-auto">
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #000;">
                                                    Quản Lý
                                                </a>
                                                <ul class="dropdown-menu">

                                                    <li><a class=" dropdown-item nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Tạo người dùng</a></li>
                                                    <li><a class=" dropdown-item nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Index">tài khoản người dùng</a></li>
                                                    <li><a class=" dropdown-item nav-link text-dark" asp-area="Admin" asp-controller="Category" asp-action="Index">Danh mục</a></li>
                                                    <li><a class=" dropdown-item nav-link text-dark" asp-area="Admin" asp-controller="Product" asp-action="Index">Sản phẩm</a></li>
                                                    <li><a class=" dropdown-item nav-link text-dark" asp-area="Customer" asp-controller="News" asp-action="Index">Đơn Đăng Ký Tư Vấn</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    }
                                </li>
                            </ul>

                        </div>
                        <div class="collapse navbar-collapse " id="navbarColor01">
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </nav>
            </li>
        </ul>
       @* 

       <div>
            <nav class="navbar navbar-expand-lg  " style="height:50px; background:#ccc;margin-top:70px;" data-bs-theme="white">
                <div class="container-fluid">
                    <a class="nav-link" style="font-size:12px;" asp-area="" asp-controller="Home" asp-action="Index">
                        
                        Shop bánh kem, hoa tươi và các loại quà tặng sinh nhật
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarColor01">
                        <ul class="navbar-nav flex-row" style="margin-left: 47.8rem;">

                            <li class="nav-item">
                                <ul class="navbar-nav me-auto">
                                   
                                    <li class="nav-item">

                                        <a class="nav-link active " asp-area="Customer" asp-controller="News" asp-action="Create">Đăng ký tư vấn </a>
                                    </li>
                                   
                                </ul>
                            </li>
                            <li class="nav-item">
                                <ul class="navbar-nav me-auto">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #000;">
                                            Chính sách
                                        </a>
                                        <ul class="dropdown-menu">

                                            <li><a class=" dropdown-item nav-link text-dark" asp-area="Customer" asp-controller="News" asp-action="Chinh_Sach_BaoMat">Chính sách bảo mật</a></li>
                                            <li><a class=" dropdown-item nav-link text-dark" asp-area="Customer" asp-controller="News" asp-action="Chinh_Sach_GiaoHang">Chính sách giao hàng</a></li>
                                            <li><a class=" dropdown-item nav-link text-dark" asp-area="Customer" asp-controller="News" asp-action="Chinh_Sach_XuLyKN">Chính sách xử lý khiếu nại</a></li>
                                            <li><a class=" dropdown-item nav-link text-dark" asp-area="Customer" asp-controller="News" asp-action="Chinh_Sach_DoiTra">Chính sách đổi trả</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <ul class="navbar-nav me-auto">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #000;">
                                            HƯỡng dẫn
                                        </a>
                                        <ul class="dropdown-menu">

                                            <li><a class=" dropdown-item nav-link text-dark" asp-area="Customer" asp-controller="News" asp-action="Huong_dan_BaoQuan">Hướng dẫn bảo quản</a></li>
                                            <li><a class=" dropdown-item nav-link text-dark" asp-area="Customer" asp-controller="News" asp-action="Huong_dan_Muabanh">Hướng dẫn mua bánh</a></li>
                                            <li><a class=" dropdown-item nav-link text-dark" asp-area="Customer" asp-controller="News" asp-action="Huong_dan_ThanhToan">Hướng dẫn thanh toán</a></li>
                                            <li><a class=" dropdown-item nav-link text-dark" asp-area="Customer" asp-controller="News" asp-action="Huong_dan_KHDN">Khách hàng doanh nghiệp</a></li>
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </li>



                        </ul>

                    </div>
                </div>
            </nav>
        </div>

        <div> 
            <nav class="navbar navbar-expand-lg fixed-top " style="height:70px; background:#FFADCD;" data-bs-theme="white">

                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Piu Piu Cake</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarColor01">
                        <ul class="navbar-nav flex-row" style="margin-left: 39.8rem;">
                            <li class="nav-item">

                                <a class="nav-link active " asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link active " asp-area="Customer" asp-controller="News" asp-action="Gioi_thieu">Giới Thiệu </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  " asp-area="Customer" asp-controller="Cart" asp-action="Index" style="color: #000;">
                                    @await Component.InvokeAsync("ShoppingCart")
                                </a>
                            </li>
                           
                            <li class="nav-item">
                                @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee) || User.IsInRole(SD.Role_Customer))
                                {
                                    <div class="nav-item">
                                        <a class=" nav-link  " asp-area="Admin" asp-controller="Order" asp-action="Index" style="color: #000;">Đơn Hàng</a>
                                    </div>
                                }
                            </li>
                            
                            <li class="nav-item">
                                @if (User.IsInRole(SD.Role_Admin))
                                {
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #000;">
                                                Quản Lý
                                            </a>
                                            <ul class="dropdown-menu">

                                                <li><a class=" dropdown-item nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Tạo người dùng</a></li>
                                                <li><a class=" dropdown-item nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Index">tài khoản người dùng</a></li>
                                                <li><a class=" dropdown-item nav-link text-dark" asp-area="Admin" asp-controller="Category" asp-action="Index">Danh mục</a></li>
                                                <li><a class=" dropdown-item nav-link text-dark" asp-area="Admin" asp-controller="Product" asp-action="Index">Sản phẩm</a></li>
                                                <li><a class=" dropdown-item nav-link text-dark" asp-area="Customer" asp-controller="News" asp-action="Index">Đặt hàng</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                }
                            </li>
                        </ul>

                    </div>
                    <div class="collapse navbar-collapse " id="navbarColor01">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>

        </div> 
        
        *@
      


        
    </header>
    
    <div class="container">
       
        <main role="main" class="pb-3" style="margin-top:50px;">
            <marquee id="homeMarquee" direction="left" style="height: 20px;padding: 0px;margin: 0;">
                <h3 style=" color:#f24689; height: 22px;font-size: 17px;">Kính chào quý khách đến với PiuPiu Cake.<i style=" color:red;" class="bi bi-arrow-through-heart-fill"></i> </h3><br />
               
                
            </marquee>
            <marquee  id="homeMarquee" direction="right">
                <h3 style=" color:#f24689;font-size: 17px;"><i class="bi bi-telephone-inbound-fill"></i>Hotline: 0912-999-999 (Thứ 2 - Chủ nhật: 9:00-20:00) </h3><br />
                
            </marquee>
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>
  
    <footer class=" footer text-muted" >
        
    </footer>
    <!-- Footer -->
    <footer class="text-center text-lg-start  text-muted" style=" background:#FFADCD;">
        <!-- Section: Social media -->
        <section  class="d-flex justify-content-center justify-content-lg-between border-bottom bg-body-tertiary" >
            <!-- Left -->
          
            <div class="me-5 d-none d-lg-block">

                <div class="g-col-3 g-start-2">
                    <div class="d-inline p-2 " style="font-size: 57px;color:#dd0f71;"><i class="bi bi-flower1"></i></div>
                    <div class="d-inline p-2  text-primary">
                        <strong style="font-size: 1.8rem;line-height: 1.5;font-weight: 600;">Nguyên liệu cao cấp</strong>
                    </div>
                </div>
            </div>

            
            

            <div class="me-5 d-none d-lg-block">

                <div class="g-col-3 g-start-2">
                    <div class="d-inline p-2 " style="font-size: 57px;color:#dd0f71;"> <i  class="bi bi-box2-heart-fill"></i></div>

                    <div class="d-inline p-2 text-primary"> <strong style="font-size: 1.8rem;line-height: 1.5;font-weight: 600;"> Khách hàng tin dùng</strong>
                        </div>
                    
                </div>
            </div>

            <div class="me-5 d-none d-lg-block">
                
                <div class="g-col-3 g-start-2" >
                    <div class="d-inline p-2 " style="font-size: 57px;color:#dd0f71;"> <i class="bi bi-bookmark-star"></i></div>

                    <div class="d-inline p-2 text-primary"><strong style="font-size: 1.8rem;line-height: 1.5;font-weight: 600;">Giao hàng nhanh chóng</strong></div>
                </div>
            </div>
            <!-- Left -->
           
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>PiuPiu Cake
                        </h6>
                        <p>
                            
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Người thực hiện
                        </h6>
                        <p>
                            <a href="#!" class="text-reset text-decoration-none">Nguyễn Chiến</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset text-decoration-none">Kiều Trinh</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset text-decoration-none">Lại Khải</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset text-decoration-none">Phạm Nghĩa</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Liên Hệ:
                        </h6>
                        <p>
                            <a href="https://www.facebook.com/chienng09" class="text-reset text-decoration-none"><i style=" color:#000;" class="bi bi-facebook"></i> 653653</a>
                        </p>
                        <p>
                            <a href="https://www.facebook.com/profile.php?id=100009828189650&locale=vi_VN" class="text-reset text-decoration-none"><i style=" color:#000;" class="bi bi-facebook"></i> 651083</a>
                        </p>
                        <p>
                            <a href="https://www.facebook.com/profile.php?id=100090947943318&locale=vi_VN" class="text-reset text-decoration-none"><i style=" color:#000;" class="bi bi-facebook"></i> 651077</a>
                        </p>
                        <p>
                            <a href="https://www.facebook.com/profile.php?id=100093059742860&locale=vi_VN" class="text-reset text-decoration-none"><i style=" color:#000;" class="bi bi-facebook"> </i> 651881</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i> Học viện Nông Nghiệp Việt Nam</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            info@SV.VNUA.EDU.VN
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
       
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <!-- SweetAlert JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js" asp-append-version="true"></script>

    <script src="https://cdn.tiny.cloud/1/g28lhnxtlihu4l4a381gw7tz47voznshwbi10lmsvlekrfme/tinymce/6/tinymce.min.js" referrerpolicy="origin">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script></script>
    @await RenderSectionAsync("Scripts",  required: false)
    <!-- SweetAlert2 Notification Script -->
    @* <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Kiểm tra xem bạn có ở trang chủ hay không
            if (window.location.pathname === '/') {
                // Nếu ở trang chủ, hiển thị thông báo
                Swal.fire({
                    title: 'Kính chào quý khách!',
                    html: 'Quý khách vui lòng: <br> Đặt bánh  và liên hệ tiệm trước 6 - 8 tiếng đối với bánh thường.<br> 3-5 ngày đối với fondant tạo hình để đặt hàng ạ!!!!',
                    icon: 'success',
                    confirmButtonColor: '#28a745',
                    confirmButtonText: 'Cảm ơn quý khách!'
                });
            }

            var isHomePage = window.location.pathname === '/';

            if (isHomePage) {
                // Nếu ở trang chủ, hiển thị thẻ <marquee>
                document.getElementById("homeMarquee").style.display = "block";
            }
        });
    </script> *@



</body>
</html>
