@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Đơn hàng được đặt thành công </h1>
        <img src="~/images/product/memethnkas.webp" width="65%" />
    </div>

    <div class="col-12 text-center" style="color:maroon">
        <br />
       
    </div>
</div>
